<div class="container">
  <div class="row">
    <!-- Gamble Family Investments -->
    <div class="col-4">
      <ul class="nav flex-column">
        <h3>Gamble Family Investments</h3>
        <li class="nav-item">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictum
            aliquam felis enim integer eget at. Vel at risus.
          </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </li>
      </ul>
    </div>
    <!-- Gamble Family Investments -->

    <!-- Homes -->
    <div class="col">
      <ul class="nav flex-column">
        <h3>Homes</h3>
        <li class="nav-item">
          <a class="nav-link" routerLink="/homes" routerLinkActive="true"
            >Homes</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/apply" routerLinkActive="false"
            >Apply Now</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/faq" routerLinkActive="false">FAQ</a>
        </li>
      </ul>
    </div>
    <!-- Homes -->

    <!-- About Us -->
    <div class="col">
      <ul class="nav flex-column">
        <h3>About Us</h3>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutGFI" routerLinkActive="true"
            >About GFI</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog" routerLinkActive="false"
            >Blog</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/careers" routerLinkActive="false"
            >Careers</a
          >
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="false"
            >Some Random Link</a
          >
        </li> -->
      </ul>
    </div>
    <!-- About Us -->

    <!-- Contact Us -->
    <div class="col">
      <ul class="nav flex-column">
        <h3>Contact Us</h3>
        <li class="nav-item">
          <a class="nav-link" href="mailto:help@gfi.com">help@gfi.com</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="tel:+12149062237">214-906-2237</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">2201 Long Prarie Rd, Flower Mound, Tx 75022</a>
        </li>
      </ul>
    </div>
    <!-- Contact Us -->
  </div>
  <p>All Rights Reserved 2022</p>
</div>
